@model FruitAndVegetableWarehouseManagement.ViewModels.RegisterSupplyViewModel
@{
    ViewData["Title"] = $"Zarejestruj dostawę produktu {Model.Product.Name}";
}

<form asp-action="RegisterSupply" asp-controller="Home" method="post">
    <input asp-for="ProductId" value="@Model.Product.ProductID" type="hidden"/>
    <h4>Zarejestruj dostawę</h4>
    <p>
        <b>Produkt: </b>@Model.Product.Name<br/>
        <b>Dostawca: </b>@Model.Product.Supplier.CompanyName
    </p>
    <div class="form-group">
        <label asp-for="SuppliedUnits">Liczba dostarczonych jednostek</label>
        <input asp-for="SuppliedUnits" class="form-control" required="required">
    </div>
    <div class="form-group">
        <button type="submit" class="btn btn-primary">Zarejestruj</button>
    </div>
    <div asp-validation-summary="All" class="text-danger"></div>
</form>